-- MySQL dump 10.13  Distrib 8.0.22, for Win64 (x86_64)
--
-- Host: localhost    Database: giguniverse
-- ------------------------------------------------------
-- Server version	8.0.22

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `concert`
--

DROP TABLE IF EXISTS `concert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `concert` (
  `concert_id` int NOT NULL AUTO_INCREMENT,
  `concert_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date` datetime(6) DEFAULT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci,
  `image` longtext COLLATE utf8mb4_unicode_ci,
  `reservation_reservation_id` int DEFAULT NULL,
  `venue_venue_id` int DEFAULT NULL,
  PRIMARY KEY (`concert_id`),
  KEY `FKobux2cvaqvt4rl96q5ggg3uam` (`reservation_reservation_id`),
  KEY `FKfkw49dvm9fqdnk4t077kkuuio` (`venue_venue_id`),
  CONSTRAINT `FKfkw49dvm9fqdnk4t077kkuuio` FOREIGN KEY (`venue_venue_id`) REFERENCES `venue` (`venue_id`),
  CONSTRAINT `FKobux2cvaqvt4rl96q5ggg3uam` FOREIGN KEY (`reservation_reservation_id`) REFERENCES `reservation` (`reservation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=337 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `concert`
--

LOCK TABLES `concert` WRITE;
/*!40000 ALTER TABLE `concert` DISABLE KEYS */;
/*!40000 ALTER TABLE `concert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_token`
--

DROP TABLE IF EXISTS `refresh_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_token` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_date` datetime(6) DEFAULT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_token`
--

LOCK TABLES `refresh_token` WRITE;
/*!40000 ALTER TABLE `refresh_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation`
--

DROP TABLE IF EXISTS `reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation` (
  `reservation_id` int NOT NULL AUTO_INCREMENT,
  `final_date` datetime(6) DEFAULT NULL,
  `starting_date` datetime(6) DEFAULT NULL,
  `ticket_number` int NOT NULL,
  `ticket_price` double NOT NULL,
  `concert_concert_id` int DEFAULT NULL,
  `owner_user_id` int DEFAULT NULL,
  PRIMARY KEY (`reservation_id`),
  KEY `FKn3gpoc8s2cdents2vffbxrl7k` (`concert_concert_id`),
  KEY `FKek6bhsjaume4i3f2fje3h5dxm` (`owner_user_id`),
  CONSTRAINT `FKek6bhsjaume4i3f2fje3h5dxm` FOREIGN KEY (`owner_user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `FKn3gpoc8s2cdents2vffbxrl7k` FOREIGN KEY (`concert_concert_id`) REFERENCES `concert` (`concert_id`)
) ENGINE=InnoDB AUTO_INCREMENT=413 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation`
--

LOCK TABLES `reservation` WRITE;
/*!40000 ALTER TABLE `reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_tickets`
--

DROP TABLE IF EXISTS `reservation_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation_tickets` (
  `reservation_reservation_id` int NOT NULL,
  `tickets_ticket_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  UNIQUE KEY `UK_qybkuvj11rvkv77e99ybs6cer` (`tickets_ticket_id`),
  KEY `FKm0yxf9goe9hlwqmd3xk5405db` (`reservation_reservation_id`),
  CONSTRAINT `FK5e2vo7fvyc8ucy67l4jci6gqt` FOREIGN KEY (`tickets_ticket_id`) REFERENCES `ticket` (`ticket_id`),
  CONSTRAINT `FKm0yxf9goe9hlwqmd3xk5405db` FOREIGN KEY (`reservation_reservation_id`) REFERENCES `reservation` (`reservation_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_tickets`
--

LOCK TABLES `reservation_tickets` WRITE;
/*!40000 ALTER TABLE `reservation_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket`
--

DROP TABLE IF EXISTS `ticket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ticket` (
  `ticket_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price` double NOT NULL,
  `purchase_date` datetime(6) DEFAULT NULL,
  `ticket_holder` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ticket_holder_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ticket_type` int DEFAULT NULL,
  `reservation_reservation_id` int DEFAULT NULL,
  `ticket_buyer_user_id` int DEFAULT NULL,
  PRIMARY KEY (`ticket_id`),
  KEY `FK446qj8g938ivhht7ix0o2j2b3` (`reservation_reservation_id`),
  KEY `FK6y7vei61ynwfbe9ijhhievpfx` (`ticket_buyer_user_id`),
  CONSTRAINT `FK446qj8g938ivhht7ix0o2j2b3` FOREIGN KEY (`reservation_reservation_id`) REFERENCES `reservation` (`reservation_id`),
  CONSTRAINT `FK6y7vei61ynwfbe9ijhhievpfx` FOREIGN KEY (`ticket_buyer_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket`
--

LOCK TABLES `ticket` WRITE;
/*!40000 ALTER TABLE `ticket` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `dtype` varchar(31) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` int NOT NULL AUTO_INCREMENT,
  `created` datetime(6) DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `firstname` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image` longtext COLLATE utf8mb4_unicode_ci,
  `is_enabled` bit(1) DEFAULT NULL,
  `lastname` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `company_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_reservation`
--

DROP TABLE IF EXISTS `user_reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_reservation` (
  `owner_user_id` int NOT NULL,
  `reservation_reservation_id` int NOT NULL,
  UNIQUE KEY `UK_t5lu9abtp4w0j0pkej6rbc71j` (`reservation_reservation_id`),
  KEY `FKpn7uw1mdqqyhhtq4oeebn0mg` (`owner_user_id`),
  CONSTRAINT `FK8mmxdowgswiiuv1a0agns1q8k` FOREIGN KEY (`reservation_reservation_id`) REFERENCES `reservation` (`reservation_id`),
  CONSTRAINT `FKpn7uw1mdqqyhhtq4oeebn0mg` FOREIGN KEY (`owner_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_reservation`
--

LOCK TABLES `user_reservation` WRITE;
/*!40000 ALTER TABLE `user_reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_tickets`
--

DROP TABLE IF EXISTS `user_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_tickets` (
  `attendant_user_id` int NOT NULL,
  `tickets_ticket_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  UNIQUE KEY `UK_3243kusrtskcbly6ycxy0uto6` (`tickets_ticket_id`),
  KEY `FKdmgluxt8gutrxllo5hu2c47on` (`attendant_user_id`),
  CONSTRAINT `FK843dc5xe3nriwwqmuy3u50e19` FOREIGN KEY (`tickets_ticket_id`) REFERENCES `ticket` (`ticket_id`),
  CONSTRAINT `FKdmgluxt8gutrxllo5hu2c47on` FOREIGN KEY (`attendant_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_tickets`
--

LOCK TABLES `user_tickets` WRITE;
/*!40000 ALTER TABLE `user_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_venue`
--

DROP TABLE IF EXISTS `user_venue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_venue` (
  `owner_user_id` int NOT NULL,
  `venue_venue_id` int NOT NULL,
  UNIQUE KEY `UK_kbybj1cqi767ulvciasotua16` (`venue_venue_id`),
  KEY `FKdt7qmlmi1n6oa76wxix1vnk0v` (`owner_user_id`),
  CONSTRAINT `FKay11ntyhyvwif2w1htg3vhjyg` FOREIGN KEY (`venue_venue_id`) REFERENCES `venue` (`venue_id`),
  CONSTRAINT `FKdt7qmlmi1n6oa76wxix1vnk0v` FOREIGN KEY (`owner_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_venue`
--

LOCK TABLES `user_venue` WRITE;
/*!40000 ALTER TABLE `user_venue` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_venue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venue`
--

DROP TABLE IF EXISTS `venue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venue` (
  `venue_id` int NOT NULL AUTO_INCREMENT,
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `capacity` int NOT NULL,
  `city` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `venue_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `owner_user_id` int DEFAULT NULL,
  PRIMARY KEY (`venue_id`),
  KEY `FKe6qr2eg3m928vaqoh9ruxt6ak` (`owner_user_id`),
  CONSTRAINT `FKe6qr2eg3m928vaqoh9ruxt6ak` FOREIGN KEY (`owner_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venue`
--

LOCK TABLES `venue` WRITE;
/*!40000 ALTER TABLE `venue` DISABLE KEYS */;
/*!40000 ALTER TABLE `venue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venue_concert`
--

DROP TABLE IF EXISTS `venue_concert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venue_concert` (
  `venue_venue_id` int NOT NULL,
  `concert_concert_id` int NOT NULL,
  UNIQUE KEY `UK_49orqwc4i4r7bpmt2u78kvkav` (`concert_concert_id`),
  KEY `FK2jsbu9xq9te1rwrtmxeddlrkp` (`venue_venue_id`),
  CONSTRAINT `FK2jsbu9xq9te1rwrtmxeddlrkp` FOREIGN KEY (`venue_venue_id`) REFERENCES `venue` (`venue_id`),
  CONSTRAINT `FKmu6dsbopb6xw1dyyev0e5hmn` FOREIGN KEY (`concert_concert_id`) REFERENCES `concert` (`concert_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venue_concert`
--

LOCK TABLES `venue_concert` WRITE;
/*!40000 ALTER TABLE `venue_concert` DISABLE KEYS */;
/*!40000 ALTER TABLE `venue_concert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verification_token`
--

DROP TABLE IF EXISTS `verification_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verification_token` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `expire_date` datetime(6) DEFAULT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKdcmo89sbvh0wyky75gmscs8oy` (`user_user_id`),
  CONSTRAINT `FKdcmo89sbvh0wyky75gmscs8oy` FOREIGN KEY (`user_user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verification_token`
--

LOCK TABLES `verification_token` WRITE;
/*!40000 ALTER TABLE `verification_token` DISABLE KEYS */;
INSERT INTO `verification_token` VALUES (1,NULL,'0aabf785-4131-4e3d-a444-3bb92a3ecece',1),(2,NULL,'e2ec0d48-ceb0-4cea-a290-a6a2bee1daa1',2),(3,NULL,'7084a5c1-f211-4c92-98aa-5f80ea6bebe7',3),(4,NULL,'3371851d-100c-4c2f-9015-6f75c0453452',4),(5,NULL,'0c2928dc-bc32-44a4-875f-602675a94a2f',5),(6,NULL,'d11ad2e3-70cf-4bc5-84a0-f192f9000670',6),(7,NULL,'5abb75a2-f259-4561-98e0-a42146251dc0',7),(8,NULL,'906cef31-6722-4fbd-8de9-6cf857cdf282',8),(9,NULL,'70050b15-d0b3-4666-835c-598c3ee50564',9);
/*!40000 ALTER TABLE `verification_token` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-03-22 19:35:36
